<div class="home">
    <div class="inside-container">
      <div class="title">
        <h2>Developer</h2>
      </div>
      <div class="row">
        <div class="row-left">
          <!-- profile-card.component.html -->
          <div class="profile-card">
            <div class="middle">
              <div class="card-header">
                <!-- <img src="assets/images/profile-picture.png" alt="Profile Picture" class="profile-picture"> -->
              </div>
              <div class="card-body">
                <h2>Fredrick</h2>
                <p>Mobile App and Website Developer</p>
              </div>
              <ul>
                <li> f.morgan221outlook.com</li>
                <li> Accra, Ghana</li>
                <li> Full-time / Freelancer</li>
                <li> https://fdankwah.netlify.app/</li>
              </ul>
              <div class="skills">
                <span>Flutter</span>
                <span>Dart</span>
                <span>Java</span>
                <span>JS</span>
                <span>Angular</span>
              </div>
              <div class="skills">
                <span>HTML</span>
                <span>CSS</span>
                <span>TypeScript</span>
              </div>
              <button class="download-cv-btn">
                Download CV <i class="fas fa-download"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row-middle">
          <div class="top">
            <p>Hi</p>
            <p>I'm <span>Fredrick</span>,</p>
            <p>Web and Mobile app Developer</p>
          </div>
          <div class="down">
            <p>
              I develop mobile apps and also build websites for companies. if
              you're looking for someone who always gets work and deliver on time.
            </p>
          </div>
          <div class="last">
            <p>Let's Talk</p>
          </div>
        </div>
        <div class="row-right">
          <!-- stats-card.component.html -->
          <div class="stats-card">
            <div class="stat">
              <span class="number">7</span>
              <span class="description">Programming Languages</span>
            </div>
            <div class="stat">
              <span class="number">4</span>
              <span class="description">Development Tools</span>
            </div>
            <div class="stat">
              <span class="number">3</span>
              <span class="description">Years of Experience</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
