<!-- blog -->
<div class="blog-setup">
  <div class="container">
    <div class="icon"></div>
    <div class="title">
      <h2>Blog</h2>
      <p>
        My thoughts on technology, health and businsess, welcome to subscribe
      </p>
    </div>
    <div class="content">
      @for (post of blogPost; track $index) {
        <!-- <div class="divider"></div> -->
      <div class="row">
        <div class="leading"></div>
        <div class="cont">
          <div class="title1">
            <h2>{{ post.title }}</h2>
          </div>
          <div class="sub">
            <p>
              {{ post.content }}
            </p>
          </div>
          <div class="read-more">
            <p>Read more</p>
            <img src="assets/icons/arrow-right.svg" />
            <img src="assets/icons/arrow-right.svg" />
          </div>
          <div class="row">
            <div class="btn">
              <p>Web developer</p>
            </div>
            <div class="text">Text <span>{{ post.name }}</span></div>
            <div class="text">Date <span>{{ post.uploadedDate }}</span></div>
            <div class="text">Read <span>{{ post.Read }}</span></div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      }
    </div>
  </div>
</div>
