<!-- blog -->
<div class="blog-setup">
    <div class="container">
      <div class="icon"></div>
      <div class="title">
        <h2>Blog</h2>
        <p>
          My thoughts on technology, health and businsess, welcome to subscribe
        </p>
      </div>
      <div class="content">
        <div class="divider"></div>
        <div class="row">
          <div class="leading"></div>
          <div class="cont">
            <div class="title1">
              <h2>What does it take to become a web developer</h2>
            </div>
            <div class="sub">
              <p>
                Web development also know as website development, encompasess of
                variety of task and process involved in creating a websites for
                the internet
              </p>
            </div>
            <div class="read-more">
              <p>
                Read more 
              </p>
              <img src="assets/icons/arrow-right.svg" />
              <img src="assets/icons/arrow-right.svg" />
            </div>
            <div class="row">
              <div class="btn">
                <p>Web developer</p>
              </div>
              <div class="text">Text <span>Fredrick</span></div>
              <div class="text">Date <span>1st october 2021</span></div>
              <div class="text">Read <span>1 min</span></div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row2">
          <div class="btn1">View more</div>
          <div class="btn2">Subscribe</div>
        </div>
      </div>
    </div>
  </div>
  
