.padding-top {
    padding-top: 100px;
}

// skills

.skills-section {
    padding: 40px 0;
    color: white;
    position: relative;
    background-color: #292f36;


    .skill-image {
        position: absolute; 
        height: 80vh;
        width: 100%;
        top: -60px;
        z-index: 1; 

        img {
            height: 100%;
            width: 100%;
        }
    }
  
    .container {
        position: relative; 
        z-index: 2; 
        margin: 40px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
      .header {
        .icon-con {
            display: flex;
            justify-content: center;

            img {
                height: 60px;
                width: 60px;
                color: #4ecdc4;
                margin-left: 100px;
            }

            .icon-container {
                width: 50px;
                height: 50px;
                margin-left: 150px;
        
                .icon {
                  font-size: 24px;
                  color: #4ecdc4;
                }
            }
        }
  
        h2 {
          font-size: 2.5rem;
          margin-bottom: 10px;
          color: black;
          text-align: center;
          margin-top: 40px;
        }
  
        .subtitle {
          font-size: 1.2rem;
          margin-bottom: 40px;
          color: #ccc;
        }
      }
  
      .content {
        .skills-category {
          display: flex;
          justify-content: center;
          gap: 50px;
          margin-bottom: 50px;
  
          .category {
            background-color: #292f36;
            padding: 20px 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
            h3 {
              font-size: 1.5rem;
              margin-bottom: 10px;
              color: #4ecdc4;
            }
  
            p {
              font-size: 1rem;
            }
          }
        }
  
        .skills-icons {
          display: flex;
        //   justify-content: space-around;
            gap: 50px;
  
          .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
  
            img {
              width: 80px;
              height: 80px;
              margin-bottom: 10px;
            }
  
            p {
              font-size: 1rem;
              margin-top: 10px;
              color: #4ecdc4;
            }
          }
        }
      }
    }
  }


//   work

  .work-setup {
    margin: 0px;
    box-sizing: border-box;
    position: relative; 
    width: 100%;
    background-color: #292f36;

    .bg {
        position: absolute; 
        height: 80vh;
        width: 100%;
        top: -60px;
        z-index: 1; 

        img {
            height: 100%;
            width: 100%;
        }
    }

    .container {
        position: relative; 
        z-index: 2; 
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            margin-bottom: 40px;
            
            h2 {
                text-align: center;
                color: #4ecdc4;
            }

            p {
                font-size: 14px;
                color: white;
            }
        }

        .content {
            margin-top: 50px;

            .row {
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center;

                .icon {
                    background-color: black;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 1px 1px black;
                }

                .product {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .view-product {
                        margin-bottom: 20px;

                        p {
                            color: #4ecdc4;
                        }

                        p:hover {
                            cursor: pointer;
                        }
                    }

                    .image {
                        height: 432px;

                        img {
                            height: 100%;
                            object-position: 50%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

//   blog

.blog-setup {
    margin: 0px;
    background-color: #292f36;


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            margin: 50px;
        
            h2 {
            text-align: center;
            font-size: 25px;
            color: #4ecdc4;
            }

            p {
                font-size: 14px;
                color: white;
            }
        }

        .content {
            
            .divider {
                height: 1px;
                background-color: #ccc;
                width: 100%;
                margin: 40px 0px;
            }

            .row {
                display: flex;
                gap: 40px;
                align-items: center;

                .leading {
                    height: 240px;
                    width: 240px;

                    // TODO: add more design
                }

                .title1 {
                    margin-bottom: 20px;

                    h2 {
                        color: #4ecdc4;
                    }
                }

                .sub {
                    margin-bottom: 30px;
                    width: 100%;
                    max-width: 800px;
                }

                .read-more {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin-bottom: 10px;

                    p {
                        color: #4ecdc4;
                    }

                    img {
                        margin: 0px;
                        padding: 0px;
                        color: #4ecdc4;
                        
                    }
                }

                .read-more:hover {
                    cursor: pointer;
                }

                .btn {
                    background-color: #ccc;
                    padding: 5px 10px;
                    border-radius: 7px;
                }

                .text {
                    color: white;

                    span {
                        color: grey;
                        padding-left: 10px;
                    }
                }
            }

            .row2 {
                display: flex;
                gap: 30px;
                justify-content: center;
                margin-top: 25vh;
                margin-bottom: 5vh;

                .btn1 {
                    background-color: #4ecdc4;
                    padding: 5px 15px;
                    border-radius: 50px;
                }

                .btn1:hover, .btn2:hover {
                    cursor: pointer;
                    opacity: 0.2;
                }

                .btn2 {
                    border: 1px solid #4ecdc4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 15px;
                    border-radius: 50px;
                    color: white;
                }
            }
        }
    }
}