<div class="position">
    <app-nav-menu></app-nav-menu>
</div>
<div class="padding-top">
    <app-home-com></app-home-com>
</div>
<app-about></app-about>
<div class="skills-section">
    <div class="container">
      <div class="header">
        <div class="icon-container">
          <span class="icon">0</span>
        </div>
        <h2>Skills</h2>
        <p class="subtitle">I am striving to never stop learning and improving</p>
      </div>
      <div class="content">
        <div class="skills-category">
          <div class="category">
            <h3>Website Development</h3>
            <p>HTML-CSS-JS-REACT</p>
          </div>
          <div class="category">
            <h3> Mobile App Development</h3>
            <p>iOS-Android</p>
          </div>
        </div>
        <div class="skills-icons">
          <div class="skill">
            <img src="assets/icons/html-icon.webp" alt="HTML">
            <p>HTML</p>
          </div>
          <div class="skill">
            <img src="assets/icons/css-icon.png" alt="CSS">
            <p>CSS</p>
          </div>
          <div class="skill">
            <img src="assets/icons/js-icon.png" alt="JavaScript">
            <p>JS</p>
          </div>
          <div class="skill">
            <img src="assets/icons/angular-icon.png" alt="React">
            <p>Angular</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  