<div class="navmenu">
    <div class="inside-container">
      <div class="row">
        <div class="row-left">
          Fredrick Dankwah
        </div>
        <div class="row-right">
          <ul>
            <li (click)="onMenuItemClick('home')">Home</li>
            <li (click)="onMenuItemClick('blog')">Blog</li>
          </ul>
          <input type="text" name="" id="">
          <ul>
            <li (click)="onMenuItemClick('linkedIn')">LinkedIn</li>
            <li (click)="onMenuItemClick('github')">Github</li>
            <li (click)="onMenuItemClick('')">Instagram</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  