.navmenu {
    margin: 0;
    padding: 20px; /* Fixed padding value */
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other elements */
    background-color: rgba(#292F36, 1.0); /* Ensure background color is consistent when fixed */
  
    .inside-container {
      width: 100%;
      padding: 20px 60px;
  
      .row {
        justify-content: space-between;
      }
  
      input {
        height: 25px;
        border-radius: 50px;
        padding-left: 10px;
        padding-right: 10px;
      }
  
      .row,
      .row-right,
      ul {
        display: flex;
        gap: 20px;
        align-items: center;
        color: white;
      }
  
      ul,
      li {
        text-decoration: none;
        list-style-type: none;
      }
    }
  }
  